body {
  font: 10px sans-serif;
}

path {
  stroke: grey;
  /*stroke-width: 1;*/
  fill: none;
  cursor:pointer;
}

svg { 

}

circle, rect {
   cursor:pointer;
}

circle:hover {
  fill:black;
}

.circulos {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axisb path, .axisb line {
  stroke-width:1;
  shape-rendering: crispEdges;
  fill:none;
  stroke: #000;
}

line.years  {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:5;
}

line.donaciones  {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
  cursor:pointer;
}

line.donaciones:hover  {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:4;
}

.donationslinesnotime {
  stroke-width:2;
}
.donante{
  background-color:#d5ecf1 !important;
  border:2px solid #0055D4 !important;
}
.donante:hover, .beneficiario:hover, .donabenef:hover{
  background-color:#ccc !important;
}
.beneficiario{
  background-color:#ffd3d3 !important;
  border:2px solid #C00000!important;
}

.donabenef{
  background-color:#efb4ee !important;
  border:2px solid #900090 !important;
}

.x.axis path {
  display: none;
}

.bar:hover, .barnotime:hover  {
  fill: black;
}

.bardiff {
  display:none;
}

.highlighted {fill: red;}
.active {font-weight:bold;}

div.tooltip {   
  position: absolute;             
  width: 150px;                         
  padding: 8px;             
  font: 12px sans-serif;        
  background: #ddd;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;         
}

.container {
  margin-left: 20px !important;
}

#header {
  position: absolute;
  margin-left: 20px;
}

#legend, #legendnotime {
  margin-left: 60px;
}

.active {
  background-color:#999 !important;
}
.btn {
  margin:3px;
}
.page-footer {
  margin-top:25px;	
}

.xaxis, #legendnotime, #barstimescale, #barsnotimescale, #barstimescalewithsaldo, .y.axis, #legend{
  display:none;
}

#saldocalculado path:hover {
  stroke-width:2px;
  stroke: #000;
}

#legendcirculos {margin-left:60px;}

.x.axis {
  font-size:14px;
}

.btn-mini {
  font-size:11px !important;
}
.inactivo {
 cursor:pointer;
}
.activo {
 font-weight:bold;
 background-color:#ddd;
 cursor:pointer;
}
.saldocalculado {
  fill: none;
  stroke: #555;
  /*shape-rendering: crispEdges;*/
  stroke-width:2;
}

.saldoanotado {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  stroke-width:1;
}

/*elections */
.elections line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
  stroke-width:4;
  cursor:pointer;
}

.electionstext{
  font-size:12px;
  fill:grey;
}
