
body {
  font: 10px sans-serif;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

svg { 
  cursor:pointer;
}

circle:hover {
  fill:black;
}

.cirulos {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

line.years  {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:5;
}

line.donaciones  {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

line.donaciones:hover  {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:4;
}

.donationslines {

}

.donationslinesnotime {
  display:none;
  stroke-width:4;
}
.donante{
  background-color:#d5ecf1 !important;
  border:2px solid #0055D4 !important;
}
.donante:hover, .beneficiario:hover, .donabenef:hover{
  background-color:#ccc !important;
}
.beneficiario{
  background-color:#ffd3d3 !important;
  border:2px solid #C00000!important;
}

.donabenef{
  background-color:#efb4ee !important;
  border:2px solid #900090 !important;
}

.x.axis path {
  display: none;
}

.bar:hover, .barnotime:hover  {
  fill: black;
}
.highlighted {fill: red;}
.active {font-weight:bold;}

div.tooltip {   
  position: absolute;             
  width: 150px;                         
  padding: 8px;             
  font: 12px sans-serif;        
  background: #ddd;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;         
}

.container {
  margin-left: 20px !important;
}

#header {
  position: absolute;
  margin-left: 20px;
}

#legend, #legendnotime {
  margin-left: 60px;
}

.active {
  background-color:#999 !important;
}
.btn {
  margin:3px;
}
.page-footer {
  margin-top:25px;	
}

/*.bar, #legend,  .x.axis {
  display:none;
}*/

.barnotime, .xaxis, #legendnotime, .bar, .donaciones, .y.axis, #legend{
  display:none;
}

#legendcirculos {margin-left:60px;}

.x.axis {
  font-size:14px;
}

.btn-mini {
  font-size:11px !important;
}

.saldocalculado {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-width:1;
}

.saldoanotado {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:1;
}

/*elections */
.elections line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
  stroke-width:4;
}

.electionschart {
 
}
